<h1>New order</h1>

<% form_tag :action => 'create', :id => @company do %>
  <%= render :partial => 'form' %>
  <%= submit_tag "Create" %>
<% end %>

<%= link_to 'Back', :controller => 'company', :action => 'show', :id => @company %>
