<%= error_messages_for 'license' %>

<!--[form:license]-->
<p><label for="license_filename">Filename</label><br/>
<%= text_field 'license', 'filename'  %></p>

<p><label for="license_comment">Comment</label><br/>
<%= text_field 'license', 'comment'  %></p>
<!--[eoform:license]-->

